<div class="container-fluid"  style="position: relative; margin:0 0 0 0;">
  <div class="row" style="background-color: #f8f9fa;">
      <app-navbar1></app-navbar1>
  </div>
  <div class="row" >
      <router-outlet></router-outlet>
  </div>  
  <div class="row" style="height:50px;    text-align: center;
  margin-top: 10px; vertical-align: center; background-color:#f8f9fa;">
      <app-footer></app-footer>
  </div>
</div>

<!-- <div class="container-fluid" (copy)="stopCopying($event)">
  <app-navbar (phone)="doSomething($event)"></app-navbar>

  <app-login></app-login>
  <app-register></app-register>
  <app-cakelist></app-cakelist> -->
  
  <!--<app-carousel></app-carousel>
  <div class="row">
    <app-cake [name]="name" [cake]="cake" class="col"></app-cake>
    <app-cake name="Mango" [cake]="cake1" class="col"></app-cake>
    <app-cake name="Mango" [cake]="cake" class="col"></app-cake>
    <app-cake
      [discount]="discountdenahai"
      [cake]="cake1"
      class="col"
    ></app-cake>
  </div>
</div>
<app-cart></app-cart>
<app-addcake></app-addcake>-->
